@charset "UTF-8";

html{
    font-size: 19px;
}

body {
    background-color: black;
    color: silver;
    text-align: center;
    /*font-family: 'Helvetica Neue',Helvetica,Arial,'ヒラギノ角ゴ Pr6N','Hiragino Kaku Gothic Pr6N','ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Segoe UI',Verdana,'メイリオ',Meiryo,sans-serif;*/
    /*font-family: "Meiryo", "MS Mincho", "游明朝", "Hiragino Kaku Gothic ProN W3", "Helvetica", "Tahoma";*/
    /*font-family: 'Noto Serif JP', 'Kosugi', 'Noto Sans JP', 'Shippori Mincho', Sawarabi Mincho, Sawarabi Gothic, Hiragino Kaku Gothic ProN W3, Helvetica, Meiryo, Tahoma;*/
    font-family: 'Noto Serif JP', 'Kosugi', Hiragino Kaku Gothic ProN W3, Helvetica, Meiryo, Tahoma;
    /*'Noto Serif JP', 'Kosugi', 'Noto Sans JP', 'Shippori Mincho' は縦書きにしてもレイアウトが大きく崩れない。特に前のふたつが縦書きでもきれいに表示される。 */
}

.container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display:none;
}
/*div.box{*/
/*    position: absolute;*/
/*    width: 90vw;*/
/*    padding: 0 5vw;*/
/*}*/

div.blank{
    /*position: fixed;*/
    position: absolute;
    width: 5vw;
    top: 0;
    right: -210vw;
}

div.page{
    /*position: fixed;*/
    position: absolute;
    width: 80vw;
    column-width: 70vh;
    column-gap: 15vh;
    /*height: 77vh;*/
    padding: 5vh 5vw;
    margin: 5vh 5vw;
    /*background-color: #333333;*/
    writing-mode: vertical-rl;
    /*text-orientation: mixed;*/
}

div#prev{
    top: 95vh;
    right: -200vw;
    /*right: 0;*/
}

div#current{
    top: 0;
    right: -100vw;
    /*right: 100vw;*/
}

div#next{
    top: -95vh;
    right: 0;
    /*right: 200vw;*/
}

/*span.rotate{*/
/*    display: inline-block;*/
/*    !*text-combine-upright: all;*!*/
/*    !*text-orientation: upright;*!*/
/*    !*text-orientation: sideways;*!*/
/*    transform:rotate(90deg);*/
/*}*/

p{
    font-size: 1rem;
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

a{
    color: goldenrod;
    text-decoration: none;
}

a:hover{
    color: gold;
}

button{
    position: fixed;
    width: 47vw;
    height: 96vh;
    top: 2vh;
    color: black;
    background-color: silver;
    opacity: 0.2;
}

button#left{
    left: 2vw;
}

button#right{
    right: 2vw;
}
